@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&dispaly=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body {
  width: 100vw;
}
header {
  width: 100%;
  background-color: #447fb9;
  height: 220px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  font-size: 0px;
}
.navbar-dropdown {
  display: none;
}
.logo {
  width: 70px;
  height: 70px;
}
.logo img {
  width: 70px;
  height: 70px;
}
.menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
}
li {
  list-style: none;
}
.container-navbar-desktop {
  display: none;
}

.titre {
  text-align: center;
 color: #fff;
 margin: 20px 20px;
 
}

@media (min-width: 768px) {
    .container-navbar-desktop {
      display: inline-block;
      align-items: center;
      
      width: 100%;
      background: white;
      font-size: 20px;
      margin-top: 5px;
    }
    .navbar-desktop{
      width: 100%;
    }
    .container-navbar-desktop ul{
      width: 100%;
      display: flex;
      align-items: center;
    }
    .container-navbar-desktop ul li{
      font-size: 1rem;
      margin: 0 20px;
    }
   .container-navbar-desktop ul li:nth-child(6){
       margin: 0 50px 0 auto;
    
  
    }
    .navbar {
      display: none;
    }
  }